.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 100px);
}

.board div {
    font-weight: bold;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 50px;
    margin: 16px;
    text-align: center;
    padding: 16px;
    background-color: grey;
}